/*TODO write in template color variables from Coolors, then modify CSS accordingly*/

/* Templates/variables */
:root {
  --red: #e84855;
  --blue: rgb(4, 139, 168);
  --green: rgb(171, 209, 181);
  --gray: rgb(234, 236, 235);
  --gray__dark: rgb(212, 210, 213);
  --white: rgb(249, 249, 249);
  --black: rgb(22, 16, 50);
  --black__mid: rgba(22, 16, 50, 0.75);
  --black__light: rgb(22, 16, 50, 0.5);
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Merriweather-Regular";
  src: url("./fonts/Merriweather-Regular.ttf");
}

@font-face {
  font-family: "Merriweather-Italics";
  src: url("./fonts/Merriweather-Italic.ttf");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("./fonts/Lato-Regular.ttf");
}

.App {
  text-align: center;
  background-color: var(--gray);
}

/* Header/Footer */
.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  background-color: var(--black);
  color: var(--white);
}

.header--logo-legiscope,
.footer--logo-legiscope {
  height: 88px;
  width: 120px;
  margin-top: 8px;
  background-image: url("../public/images/legiscope_logo.png");
  background-size: cover;
  background-position: center;
}

.header--nav {
  display: flex;
  margin-right: 5%;
}

.header--nav-bars__active {
  display: flex;
  flex-direction: column;
  transform: rotate(0deg);
  transition: transform 0.25s ease-in-out;
}

.header--nav-bars__inactive {
  display: flex;
  flex-direction: column;
  transform: rotate(-90deg);
  transition: transform 0.25s ease-in-out;
}

.header--nav-bar {
  width: 32px;
  height: 4px;
  margin: 5%;
  background-color: var(--white);
}

.header--nav-list__active {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100px;
  background-color: var(--black);
  color: var(--white);
  list-style: none;
  padding: 0%;
  margin: 0%;
  border-top: 1px solid var(--gray);
  animation: opacity-in 0.25s;
}

.header--nav-list__inactive {
  display: none;
}

.nav-list--source,
.nav-list--github {
  color: var(--white);
  font-family: "Lato-Regular";
}

.nav-list--source :is(a, a:visited),
.nav-list--github :is(a, a:visited) {
  text-decoration: none;
  color: var(--white);
}

.nav-list--link-icon {
  height: 20px;
}

@keyframes opacity-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.footer--creator {
  color: var(--white);
  margin-right: 5%;
  font-family: "Lato-Regular";
}

/* Hero Section */

.hero--container {
  height: 512px;
  position: relative;
  text-align: center;
  background-image: url("../public/congressprofiles/default.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.hero--container p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  font-family: "Merriweather-Regular";
  font-size: 2em;
  background-color: var(--black__mid);
  padding: 10%;
  width: 100%;
}

/* Search/Filter functions */

.app--filter {
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 16px 0;
}

.app--filter-all {
  width: 90%;
  background-color: var(--white);
  border-radius: 5px;
}

.app--filter-switch {
  padding: 8px 0 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato-Regular";
}

.app--filter-switch-senate,
.app--filter-switch-house {
  width: 168px;
  height: 24px;
}

.app--filter-switch-senate {
  border-radius: 5px 0 0 5px;
}

.app--filter-switch-house {
  border-radius: 0 5px 5px 0;
}

.app--filter-switch__active {
  background-color: var(--black);
  color: var(--white);
}
.app--filter-switch__inactive {
  background-color: var(--gray__dark);
  color: var(--black);
}

.app--filter-inputs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 0 8px 0;
}

.app--filter-inputs-search,
.app--filter-inputs-select,
.app--filter-inputs-reset {
  height: 24px;
  border-radius: 5px;
}

.app--filter-inputs-search {
  background-color: var(--gray);
  border-style: solid;
  border-color: var(--black);
  width: 30%;
  text-indent: 8%;
}

.app--filter-inputs-select {
  width: 40%;
  background-color: var(--gray);
}

.app--filter-inputs-reset {
  width: 20%;
  background-color: var(--gray);
  border-style: solid;
  border-color: var(--black);
}

/* Tables and Page Buttons*/

.app--table {
  background-color: var(--gray);
}

.component--table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-container {
  width: 90%;
}

.table {
  border-collapse: collapse;
  border: 1px solid var(--gray);
  border-radius: 10px;
  width: 100%;
  background-color: var(--white);
  font-family: "Lato-Regular";
}

.table-headers th {
  color: var(--black__light);
}

.table-rows,
table thead :last-child {
  border-bottom: 1px solid var(--gray);
}

.table-rows td,
.table-headers th {
  padding: 8px 12px 8px 12px;
}

.table-header--contact,
.table-header--socials,
.table-data--contact,
.table-data--socials {
  display: none;
}

.button-show-stats {
  border: 1px solid var(--gray__dark);
  border-radius: 5px;
  background-color: var(--black);
  color: var(--white);
  font-family: "Lato-Regular";
  height: 32px;
}

.button-show-stats span {
  margin: 10px;
}

.component--page-buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: 16px 0 16px 0;
}

.component--page-buttons button {
  height: 24px;
  border: 1px solid var(--gray__dark);
  border-radius: 5px;
  margin: 0 8px 8px 0;
}

.button-current-page {
  font-family: "Lato-Regular";
}

.button-current-page__active {
  background-color: var(--black);
  color: var(--white);
}

.button-current-page__inactive {
  background-color: var(--white);
}

.button-page-selection {
  background-color: var(--white);
}

.button-page-selection img {
  height: 100%;
}

/* Display Container for Graphs*/

.app--graphs-container {
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

.app--graphs {
  background-color: var(--white);
  width: 90%;
  border-radius: 5px;
}

.app--graphs-name {
  border-bottom: 1px solid var(--gray__dark);
  font-family: "Merriweather-Regular";
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 5%;
}

/*Image Container*/

.image-container {
  width: 40%;
  position: relative;
  border: 5px solid var(--gray__dark);
}

.image-container img {
  width: 100%;
}

/* name container with picture. color of box is determined by party affiliation */

.name-container__R {
  background-color: var(--red);
}
.name-container__D {
  background-color: var(--blue);
}
.name-container__ID {
  background-color: var(--green);
}

.name-container__R,
.name-container__D,
.name-container__ID {
  position: absolute;
  width: 100%;
  bottom: 0%;
  font-family: "Merriweather-Regular";
}

/* Graphs */
.graphs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Merriweather-Regular";
  position: relative;
}

.graphs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
}

.graphs > div {
  width: 30%;
  border: 1px solid var(--gray__dark);
  border-radius: 5px;
  padding: 0 0.5% 0 0.5%;
  display: flex;
  justify-content: center;
}

.labels {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}

.label {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label p {
  margin: 0 0 10% 0;
}

.explanations-container {
  display: flex;
  justify-content: flex-start;
}

.explanations {
  list-style: none;
  padding: 0%;
  font-size: 0.75em;
  font-family: "Merriweather-Italics";
}

.explanations li {
  margin-bottom: 8px;
  margin-left: 16px;
  text-align: left;
}

/* Error box */
.error-container {
  height: 320px;
  background-color: var(--white);
  margin: 0 5% 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato-Regular";
}

@media screen and (min-width: 1200px) {
  .header--logo-legiscope {
    margin-left: 3%;
  }
  .display-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .image-container {
    width: 25%;
    margin-bottom: 5%;
  }

  .graphs-container {
    width: 60%;
    margin-top: -5%;
  }

  .table-header--contact,
  .table-header--socials,
  .table-data--contact,
  .table-data--socials {
    display: table-cell;
  }

  .table__contact-links {
    display: flex;
    justify-content: center;
  }

  .table__social-links {
    display: flex;
    justify-content: center;
  }

  .table__contact-links :is(div),
  .table__social-links :is(div) {
    margin: 0 3% 0 3%;
  }

  .table img {
    height: 32px;
  }
}
