/*TODO write in template color variables from Coolors, then modify CSS accordingly*/

/* Templates/variables */
:root {
  --red: rgb(232, 72, 85);
  --blue: rgb(4, 139, 168);
  --green: rgb(171, 209, 181);
  --gray: rgb(212, 210, 213);
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Merriweather-Regular";
  src: url("./fonts/Merriweather-Regular.ttf");
}

.App {
  text-align: center;
}

/* Tables */

.table {
  border: 3px solid green;
}

/* .table :is(td, th) {
  border: 1px solid black;
} */

.table img {
  height: 20px;
}

.table-header--contact,
.table-header--socials,
.table-data--contact,
.table-data--socials {
  display: none;
}

.table-rows :last-child {
  width: 100%;
}

/* Display Container for Graphs*/

.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  border: 2px solid var(--blue);
}

/*Image Container*/

.image-container {
  width: 40%;
  position: relative;
}

.image-container img {
  width: 100%;
}

/* name container with picture. color of box is determined by party affiliation */

.name-container__R {
  background-color: var(--red);
}
.name-container__D {
  background-color: var(--blue);
}
.name-container__ID {
  background-color: var(--green);
}

.name-container__R,
.name-container__D,
.name-container__ID {
  position: absolute;
  width: 100%;
  bottom: 0%;
  font-family: "Merriweather-Regular";
}

/* Hero Section */

.hero--container {
  width: 100%;
  position: relative;
  text-align: center;
}

.hero--container img {
  width: 100%;
  filter: blur(2px);
}

.hero--container p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--gray);
  font-family: "Merriweather-Regular";
}

/* Graphs */
.graphs-container {
  border: 2px solid var(--green);
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Merriweather-Regular";
  position: relative;
}

.graphs {
  /* border: 2px solid var(--gray); */
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.graphs > div {
  width: 30%;
}

.labels {
  /* border: 2px solid var(--gray); */
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.label {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label p {
  margin: 0 0 10% 0;
}

.button__current-list {
  border: 2px solid red;
}

.button-current-page__active {
  background-color: aqua;
}

.button-current-page__inactive {
  background-color: var(--gray);
}
