/*TODO write in template color variables from Coolors, then modify CSS accordingly*/

/* Templates/variables */
:root {
  --red: rgb(232, 72, 85);
  --blue: rgb(4, 139, 168);
  --green: rgb(171, 209, 181);
  --gray: rgb(234, 236, 235);
  --gray__dark: rgb(212, 210, 213);
  --white: rgb(249, 249, 249);
  --black: rgb(22, 16, 50);
  --black__light: rgb(22, 16, 50, 0.5);
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Merriweather-Regular";
  src: url("./fonts/Merriweather-Regular.ttf");
}

.App {
  text-align: center;
}

/* Search/Filter functions */

.app--filter {
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 16px 0;
}

.app--filter-all {
  width: 90%;
  background-color: var(--white);
  border-radius: 5%;
}

.app--filter-switch {
  padding: 8px 0 8px 0;
}

/* TODO finish CSS on senate/house switch */

.app--filter-switch-senate {
  color: red;
}

.app--filter-switch-house {
  color: blue;
}

.app--filter-inputs {
  display: flex;
}

/* Tables and Page Buttons*/

.app--table {
  background-color: var(--gray);
}

.component--table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-container {
  width: 90%;
}

.table {
  border-collapse: collapse;
  border: 1px solid var(--gray);
  border-radius: 3%;
  width: 100%;
  background-color: var(--white);
}

.table-headers th {
  color: var(--black__light);
}

.table-rows,
table thead :last-child {
  border-bottom: 1px solid var(--gray);
}

.table-rows td,
.table-headers th {
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.table-header--contact,
.table-header--socials,
.table-data--contact,
.table-data--socials {
  display: none;
}

.table img {
  height: 20px;
}

.button-show-stats {
  border: 1px solid var(--gray__dark);
  border-radius: 5%;
  background-color: var(--white);
}

.component--page-buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: 16px 0 16px 0;
}

.component--page-buttons button {
  height: 24px;
  border: 1px solid var(--gray);
  border-radius: 15%;
  margin: 0 8px 8px 0;
}

.button-current-page__active {
  background-color: var(--black);
  color: var(--white);
}

.button-current-page__inactive {
  background-color: var(--white);
}

.button-page-selection {
  background-color: var(--white);
}

.button-page-selection img {
  height: 100%;
}

/* Display Container for Graphs*/

.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 2px solid var(--blue);
}

/*Image Container*/

.image-container {
  width: 40%;
  position: relative;
}

.image-container img {
  width: 100%;
}

/* name container with picture. color of box is determined by party affiliation */

.name-container__R {
  background-color: var(--red);
}
.name-container__D {
  background-color: var(--blue);
}
.name-container__ID {
  background-color: var(--green);
}

.name-container__R,
.name-container__D,
.name-container__ID {
  position: absolute;
  width: 100%;
  bottom: 0%;
  font-family: "Merriweather-Regular";
}

/* Hero Section */

.hero--container {
  width: 100%;
  position: relative;
  text-align: center;
}

.hero--container img {
  width: 100%;
  filter: blur(2px);
}

.hero--container p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--gray);
  font-family: "Merriweather-Regular";
}

/* Graphs */
.graphs-container {
  border: 2px solid var(--green);
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Merriweather-Regular";
  position: relative;
}

.graphs {
  /* border: 2px solid var(--gray); */
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.graphs > div {
  width: 30%;
}

.labels {
  /* border: 2px solid var(--gray); */
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.label {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label p {
  margin: 0 0 10% 0;
}
